body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

header {
    background-color: rgb(7, 64, 130);
    color: aliceblue;
}

.btn-primary {
    width: 100%;
    background-color: rgb(7, 64, 130);
    color: aliceblue;
}

.btn-secondary{
    width: 100%;
    margin-bottom: 1em;
    color: aliceblue;

}

.currentCity {
    border: solid 2px rgb(7, 64, 130);
    padding: 1em;
    margin-bottom: 1em;
}

.card {
    min-width: 18%;
    display: inline-block;
    margin: .5em;
    padding: 1em;
    background-color: skyblue;
    font-weight:bold;
}